.content {
	margin-top: 7%;
}

.category-button {
	margin-top: 4% !important;/* so that it overides the default 5em margin*/
}

.admin-form {
	margin-top: 2%;
}

.admin-pannel {
	margin-top: 3%;
}

a:hover {
	text-decoration: none;
}

.admin-options-button {
	margin-top: 4% !important;/* so that it overides the default 5em margin*/
}

.photo-collection {
	margin-top: 2% !important;
}

.image-details {
	margin-top: 1%;
}

.delete-message {
	margin: 13% auto 0 auto;
}

.modal-button-group {
	float: right;
}

.required {
	padding-left: 10px;
	color: #f00;
}

.modal-button-group button {
	margin-left: 5px;
}

#navBar {  
	left: 0;
	position: fixed;
	top: 0;
	width: 100%; 
	z-index:10;
}

@media(min-width: 768px){
	.category-details-image {
		height: 500px;
	}
}

@media(max-width: 900px) {
	.content {
		margin-top: 12%;
	}
}

@media(max-width: 500px) {
	.content {
		margin-top: 16%;
	}
}

@media(max-width: 380px) {
	.content {
		margin-top: 20%;
	}
}